form {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  font-size: 11px;
}

h3 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-app {
  border: solid 1px;
  max-width: 750px;
  margin: 30px auto;
  padding: 30px 50px;
}

.forecast {
  text-align: center;
}

.day {
  font-size: 11px;
}
.source {
  display: block;
  text-align: center;
  margin-right: 490px;
  text-decoration: none;
}

.btn-secondary {
  line-height: 16px;
}

#sky {
  text-transform: capitalize;
  text-align: center;
  font-size: 17px;
  line-height: 1px;
  padding-top: 50px;
  padding-bottom: 30px;
}
#city {
  font-size: 35px;
  text-align: center;
  line-height: 1px;
  padding: 20px;
}

#temp {
  text-align: center;
  font-size: 90px;
}

#units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

#celsius {
  text-decoration: none;
}

#fahrenheit {
  text-decoration: none;
}

#windSpeed {
  font-size: 15px;
  padding-top: 40px;
}

#humidity {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
}
